html {
    background-color: black;
}

* {
    font-family: Verdana, sans-serif;
}

h1 {
    color: white;
}

h5 {
color: aquamarine;
}

.excursion-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.excursion-video {
    width: 100%;
    height: auto;
}

.heading-2 {
    font-size: 42px;
    font-weight: 300;
}

.subheading {
    font-size: 21px;
    color: gray;
}